.wrapper {
  background-image: url("https://www.hypnoticworld.com/site/image-credited.php?image=107.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.page {
  .page-table {
    color: #ccc;
  }
}
.wrapper__two {
  .title {
    font-size: 80px;
    color: #ccc;
  }
  .list {
    // text-align: end;
  }
  .item {
    color: #8b3d7b;
  }
  .color {
    color: #8b3d7b;
  }
}
