.wrapper__poke {
  // display: flex;
  // flex-wrap: wrap;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  //   background: #ccc;
}
// .flex {
//   display: flex;
//   flex-wrap: wrap;
// }
.card__poke {
  width: 180px;
  height: 300px;
  background-color: antiquewhite;
  border-radius: 12px;
  text-align: center;
  margin-left: 20px;
  // margin: 20px 20px;
  .card__poke-one {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin: 25px auto;
    background: #fff;
    border: 1px solid green;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }
  .card__poke-two {
    width: 40%;
    height: 10%;
    padding-top: 10px;
    margin: 0px 60px;
    background: #fff;
    border-radius: 15px;
    h2 {
      margin-bottom: 30px;
      // margin-left: 20px;
      font-size: 15px;
      text-align: center;
    }
  }
  .content {
    margin: 5px 60px;
    text-align: center;
  }
  .content h2 {
    font-size: 18px;
    text-align: center;
  }
}
